
.contact-form {
    padding: 40px;
    background-color: $color-background-secondary;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &__title {
        color: $color-secondary;
    }

    &__control {
        border-radius: 8px;
        border: 1px solid $color-border;
        padding: 10px;
        margin-bottom: 20px;
    }

    &__button {
        background-color: $color-accent;
        color: $color-white;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $color-accent-light;
        }
    }
}
.image-link {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .image-link a {
    display: inline;
    margin: 20px 20px; 
  }
  
  .image-link img {
    width: 100px; 
    height: auto; 
    float: left;
    &:hover {
        transform: scale(1.1);
    }
    }