@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        text-align: center;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .carousel__item img {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .flex-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
