body {
    font-family: $font-primary;
    color: $color-primary;
    background-color: $color-background;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3 {
    color: $color-secondary;
    font-family: $font-secondary;
}

p {
    color: #556b2f;

}