$font-primary: 'Lora', serif;
$font-secondary: 'Merriweather', serif;

$color-primary: #333;
$color-secondary: #2f4f4f;
$color-accent: #3b7a57;
$color-accent-light: #8fbc8f;
$color-background: #f4f9f4;
$color-background-secondary: #d0f0c0;
$color-background-tertiary: #e6f2e6;
$color-white: #ffffff;
$color-border: #ccc;

$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$spacing: 10px;